
/* Common styles */

@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 371px;
}

input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #808080;
  opacity: 0.7;
}

button {
  padding: 8px 16px;
  height: 40px;
  max-width: 80px;

  font-weight: 500;
  font-size: 16px;
  color: #fff;

  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
}

button:hover {
  background: #6c8cff;
}






